#section8 .right {   
    display: flex;
    align-items: center;
    justify-content: center;        
}

/* Right Section (Text and Button) */
#section8 .left {    
    height: 500px; /* Set a fixed height */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: baseline;
    justify-content: left;
    text-align: left;
    padding: 100px;
    color: white;
    gap: -10px;
}

#section8 .left h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

#section8 {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(2, 1fr); /* Two columns of reviews */
    flex-wrap: nowrap;
    overflow: hidden;
    height: 700px; /* Adjust height to fit content */
    position: relative; /* Set as the relative container for positioning the "7" */
    background-color: black;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
}

.social img {
    width: 30px;
    height: 30px;    
    margin-right: 10px;
}

.social p {
    font-size: 1rem;
    color: white;
    margin-top: 10px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    #section8 {
        grid-template-columns: 1fr; /* One column on smaller screens */
        height: auto; /* Adjust height to fit content */
        display: flex;
        flex-direction: column;        
    }

    #section8 .left {
        flex-direction: column; /* Stack photo and content vertically */        
        text-align: left; /* Center align text */      
        height: 350px;  
    }    
    #section8 .right {
        width: 100%;
        height: 100%;
    }
}