/* Section 6: Rates */
.rates-section {
  padding: 40px 0px;
  background-color: #ffd51c;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: 'helvetica_worldregular';
  width: 100%;
}

.rates-section .rates-header {
  display: flex;        
  flex-direction: row;
  text-align: left;
  margin-bottom: 40px;
  gap: 20px;
}

.rates-section .header h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.rates-section .header p {
  font-size: 16px;
  line-height: 1.6;
}

.rates-section .header a {
  color: #0a1836;
  text-decoration: none;
  font-weight: bold;
}

/* Pricing Cards */
.pricing-container {
  display: grid;
  grid-template-columns: repeat(3, 1.5fr);
  gap: 20px;    
  margin-top: 30px;
}

.pricing-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  text-align: left;
}

.group-class {
  border: 4px solid #ffd51c;
  width: 350px;
}

table {    
  border-collapse: collapse;
  width: 100%;
  height: 120px;
}

td, th {    
  text-align: left;        
}

td:nth-child(even) {
  text-align: center;
  width: 100px;
}

td:nth-child(odd) {
  display: list-item;
  list-style-position: inside;
  width: 150px;
}

.pricing-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.pricing-card ul {    
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.8;
  list-style-position: inside;
}

.pricing-card button {
  background-color: #ffd51c;
  color: #0a1836;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.pricing-card button:hover {
  background-color: #e3b718;
}

/* Responsive Design for Section 6 */
@media (max-width: 768px) {
  .rates-section {
    padding: 0;
    background-color: #ffd51c;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: 'helvetica_worldregular';
  }
  
  .rates-section .header h1 {
    font-size: 36px;      
  }

  .rates-section .rates-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-template-columns: 1fr;
      margin-bottom: -10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .group-class {
      border: 4px solid #ffd51c;
      width: 250px;
    }

  .pricing-container {
    grid-template-columns: 1fr;
    padding-bottom: 20px;
  }
}
