/* Section 6: Rates */
.rates-section {
  padding: 40px 0px;
  background-color: #ffd51c;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: 'helvetica_worldregular';
  width: 100%;
}

.rates-section .rates-header {
  display: flex;        
  flex-direction: row;
  text-align: left;
  margin-bottom: 40px;
  gap: 20px;
}

.rates-section .header h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.rates-section .header p {
  font-size: 16px;
  line-height: 1.6;
}

.rates-section .header a {
  color: #0a1836;
  text-decoration: none;
  font-weight: bold;
}

/* Pricing Cards */
.pricing-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;    
  margin-top: 20px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.pricing-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 220px;
  text-align: left;
}

.group-class {
  border: 2px solid #ffd51c;
  width: 220px;
}

table {    
  border-collapse: collapse;
  width: 100%;
  height: auto;
  margin-top: 5px;
}

td, th {    
  text-align: left;   
  padding: 4px 0;     
}

td:nth-child(even) {
  text-align: center;
  width: 80px;
}

td:nth-child(odd) {
  display: list-item;
  list-style-position: inside;
  width: 120px;
}

.pricing-card h2 {
  font-size: 18px;
  margin-bottom: 8px;
}

.pricing-card ul {    
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.8;
  list-style-position: inside;
}

.pricing-card button {
  background-color: #ffd51c;
  color: #0a1836;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;  
}

.pricing-card button:hover {
  background-color: #e3b718;
}

.pricing-card a {    
    color: #0a1836;
    font-weight: 500;    
    display: inline-block;
    padding: 2px 0;
}

.pricing-card a:hover {
    color: #ffd51c;
}

.pricing-card td a {
    position: relative;
}

/* Responsive Design for Section 6 */
@media (max-width: 768px) {
  .rates-section {
    padding: 0;
    background-color: #ffd51c;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: 'helvetica_worldregular';
  }
  
  .rates-section .header h1 {
    font-size: 36px;      
    text-align: center;
  }

  .rates-section .rates-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-template-columns: 1fr;
      margin-bottom: -10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .group-class {
      border: 4px solid #ffd51c;
      width: 250px;
    }

  .pricing-container {
    grid-template-columns: 1fr;
    padding-bottom: 20px;
  }
}
